body {
    background-color: #04dd8a;
}

.checker {
    width: 50px;
    height: 50px;
    position: absolute;
}

.text {
    /*display: inline-block;*/
    width: 50px;
    height: 50px;
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #969696;
    position: absolute;
}

.desk {
    width: 400px;
    height: 400px;
    position: relative;
    top: 100px;
    left: calc(100% / 2 - 200px);
    border: 1px solid black;
    background-color: #c9c9c9;
}

/*
TODO На mousedown border: 1px dotted transparent;
TODO На mouseup border: none
*/
